---
layout: default
title: home
---
<!-- First Grid: Logo & About -->

<div class="w3-row w3-wide">

  <div class="w3-half w3-night w3-container w3-center" style="height:700px">

    <div class="w3-padding-64">

      <h1>My Logo</h1>

    </div>

    <div class="w3-padding-64">

<!--     <a href="#" class="w3-btn w3-black w3-block w3-border-black w3-leftbar w3-rightbar
     w3-topbar w3-bottombar w3-border-white w3-hover-border-white w3-padding-16">Home</a>  --> <!-- w3-border-0 w3-hover-border-white -->

     <a href="#work" class="w3-btn w3-black w3-block w3-border-black w3-leftbar w3-rightbar w3-topbar w3-bottombar  w3-hover-border-yellow  w3-padding-16">Skills & Projects</a>

      <a href="#work" class="w3-btn w3-black w3-block w3-border-black w3-leftbar w3-rightbar w3-topbar w3-bottombar w3-border-white w3-hover-border-cyan  w3-padding-16">Resume</a>

      <a href="#contact" class=" w3-btn w3-black w3-block w3-border-black w3-leftbar w3-rightbar w3-topbar w3-bottombar w3-border-white w3-hover-border-red  w3-padding-16">Posts</a>

      <a href="#contact" class="w3-btn w3-black w3-block w3-border-black w3-leftbar w3-rightbar w3-topbar w3-bottombar w3-border-white w3-hover-border-white  w3-padding-16">Contact</a>

    </div>

  </div>

  <div class="w3-half  w3-magenta w3-container w3-center w3-display-container" style="height:700px">

    <div class="w3-padding-64 w3-center">

      <h1 class="w3-container w3-margin-bottom">About Me</h1>
    <br/>
      <div class="w3-container w3-center-align w3-padding-large">
        <p>Hi!</p>
        <p>I am passionate about the Internet of Things and creatively developing computer applications for business and life solutions.</p>
      </div>
      <br/>
      <!-- Social icons  -->
      <div class="w3-container w3-bar-block w3-center">
        {% include icons.html %}
      </div>
    </div>

  </div>

</div>

<!-- Second Grid: Work & Resume -->

<div class="w3-row">

  <div class="w3-half w3-yellow w3-center w3-container home" style="height:800px" id="work">

    <div class="w3-padding-64">

      <h2 class="work w3-wide">Skills</h2>

     <span><b>Strong</b> Skills: <b>Ruby, Rails, Javascript, Git & Github, HTML, CSS</b> , Angular, JQuery, React, Node.JS, W3.CSS, Bootstrap, SASS, RSpec, TDD, RDBMS Desgin, RESTful API Design, Engineering Principles, Affinity Designer
    </span>
      <div class="w3-padding"><b>Future Skills:</b> Python, Typescript, ReactVR, Machine Learning</div>

    </div>
    <h2  id="projects-head" class="w3-wide w3-text-night-light w3-white w3-opacity">Projects</h2>
    {% for project in site.portfolio limit:4 %}
    <div class="w3-row project w3-hover-shadow w3-hover-white w3-hover-panel w3-round w3-hover-opacity" style="height:141px">
      <div class="w3-yellow project-thumb w3-hide">
        <a href="{{ project.url | prepend: site.baseurl }}">
          <img src="{{ project.thumbnail-path }}" alt="{{ project.title }}" style="width:100%; height:140px"/>
        </a>
      </div>
      <div class="project-description">
        <a href="{{ project.url | prepend: site.baseurl }}"><strong class="w3-wide">{{ project.title }}</strong></a>
        <p>{{ project.short-description}}</p>
        <p class="meta">
  {{ post.date | date: "%B %-d, %Y" }}
</p>
      </div>
    </div>
    {% endfor %}
  </div>

  <div class="w3-half w3-cyan w3-container" style="height:800px">

    <div class="w3-padding-64 w3-center w3-text-night">

      <h2 class="w3-wide">Resume</h2>

      <div class="w3-container w3-responsive">

        <table class="w3-table">

          <tr>

            <th>Year</th>

            <th>Title</th>

            <th>Company</th>

          </tr>

          <tr class="w3-white">

            <td>2016-Present</td>

            <td>Operations Manager</td>

            <td>Gadget RM</td>

          </tr>

          <tr>

            <td>2012-2015</td>

            <td>Health / Insurance Manager</td>

            <td>Hewlett-Packard</td>

          </tr>

          <tr class="w3-white">

            <td>2010-2012</td>

            <td>Client Solutions Center Manager</td>

            <td>Hewlett-Packard</td>
          </tr>
        </table>
        <br />
        <div class="w3-container w3-padding" >
          <div class="w3-wide w3-padding-large"><b>Education</b></div>
          <p><b>University of South Florida</b> – Political Science | Cum Laude</p>
          <p><b>Bloc.io</b> - Software Architecture Immersive - 2016 - Present</p>
          <br/>
          <div class="w3-wide w3-padding-large"><b>Professional Development</b></div>
          <p>Project Management Certificate UW Madison  &bull;  Doing Business with U.S. Public
            Sector Customers  &bull;  HIPAA  &bull;  Client Relations  &bull;  Quality Assurance  &bull;  Business of
            Healthcare Payers  &bull;  Inside Healthcare Payers & Plans  &bull;  Inside Healthcare Providers  &bull;
            SAP Administrator</p>
          <div class="w3-wide w3-padding-large"><b>Personal</b></div>
          <p>Music Production	 &bull;  Strength Training	 &bull;  Snorkeling	 &bull;  Travel</p>
        </div>
      </div>

    </div>

  </div>

</div>



<!-- Third Grid: Education & Prof. Development -->

<div class="w3-row posts" id="contact">

  <div class="w3-half w3-magenta w3-text-white w3-container w3-center" style="max-height:800px">

    <div class="w3-padding-64">

      <h1 class="w3-wide post-header w3-text-white w3-opacity-min">My Posts</h1>
      <ul class="w3-ul">
            {% for post in paginator.posts %}
            <li class="post-teaser w3-round-small w3-leftbar w3-rightbar w3-hover-shadow w3-block w3-border-magenta w3-hover-border-white no-border-bottom w3-padding-16" style="border-bottom: 0px">
              <header>
                <h3>
                  <a class="w3-wide post-link" href="{{ post.url | prepend: site.baseurl }}">
                    {{ post.title }}
                  </a>
                </h3>
                <p class="meta">
                  {{ post.date | date: "%B %-d, %Y" }}
                </p>
              </header>
              <div class="excerpt">
                {{ post.excerpt | | strip_html | strip_newlines | truncate: 120 }}
              </div>
              <a href="{{ post.url | prepend: site.baseurl }}">
                {{ site.theme_settings.str_continue_reading }}
              </a>
            </li>
            {% endfor %}
          </ul>

    </div>
      {% if paginator.total_pages > 1 %}
  <div class="pagination">
    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="button" >
      <i class="fa fa-chevron-left"></i>
      {{ site.theme_settings.str_prev }}
    </a>
    {% else %}
      <span class="previous">Previous</span>
    {% endif %}

    <!-- <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span> -->
    {% for page in (1..paginator.total_pages) %}
      {% if page == paginator.page %}
        <em>{{ page }}</em>
      {% elsif page == 1 %}
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
      {% else %}
        <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
      {% endif %}
    {% endfor %}

    {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="button" >
      {{ site.theme_settings.str_next }}
      <i class="fa fa-chevron-right"></i>
    </a>
    {% else %}
      <span class="next ">Next</span>
    {% endif %}
  </div>
  {% endif %}
  </div>

  <div class="w3-half w3-white w3-container w3-text-black" style="height:700px">

    <div class="w3-padding-64 w3-padding-large">

      <h1 class="w3-wide">Contact</h1>
      <div class="w3-row">
        <!-- Social icons from Font Awesome, if enabled -->
        <div class="w3-third w3-mobile">
          <span id="holla" class="w3-opacity-max w3-wide">holla @ <span class="w3-text-red">.</span><span class="w3-text-cyan">me</span>!</span>
          <!-- <i class="w3-large w3-magenta">{% include short-list-icons.html %}</i> -->
          <br />
        </div>
      </div>
      <form class="w3-container w3-card w3-padding-32 w3-black w3-margin-top" action="https://getsimpleform.com/messages?form_api_token=fe0494b3f6727a6047675242916e447 " method="post">
        <input type='hidden' name='redirect_to' value='https://tyrantdavis.me' />
        <div class="w3-section  w3-text-white">

          <label class="w3-wide">Name</label>

          <input class="w3-input" style="width:100%;" type="text" required name="Name">

        </div>

        <div class="w3-section  w3-text-white">

          <label class="w3-wide">Email</label>

          <input class="w3-input" style="width:100%;" type="text" required name="Email">

        </div>

        <div class="w3-section  w3-text-white">

          <label class="w3-wide">Message</label>

          <input class="w3-input" style="width:100%;" type="text" required name="Message">

        </div>

        <button type="submit" class="w3-button w3-black w3-hover-yellow w3-right ">Send</button>

      </form>
      <p class="w3-text-night w3-wide">Thanks for saying<span class="w3-text-magenta"> Hi</span>!</p>
    </div>
  </div>
</div>
