<!DOCTYPE html>

<html>
<head>
  <title>www.tyrantdavis.me</title>

  <meta charset="UTF-8">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <!-- Import W3.CSS 4 Pro & Create my own color classes .electricNight, .electricRed, .electricYellow, .electricCyan, .electricWhite -->

</head>
<body class="w3-content" style="max-width:100%">

<!-- First Grid: Logo & About -->

<div class="w3-row w3-wide">

  <div class="w3-half w3-night w3-container w3-center" style="height:700px">

    <div class="w3-padding-64">

      <h1>My Logo</h1>

    </div>

    <div class="w3-padding-64">

     <a href="#" class="w3-btn w3-black w3-block w3-border-black w3-leftbar w3-rightbar w3-topbar w3-bottombar w3-border-white w3-hover-border-white w3-padding-16">Home</a>   <!-- w3-border-0 w3-hover-border-white -->

      <a href="#work" class="w3-btn w3-black w3-block w3-border-black w3-leftbar w3-rightbar w3-topbar w3-bottombar w3-border-white w3-hover-border-cyan  w3-padding-16">Resume</a>

      <a href="#work" class="w3-btn w3-black w3-block w3-border-black w3-leftbar w3-rightbar w3-topbar w3-bottombar  w3-hover-border-yellow  w3-padding-16">Skills and Projects</a>

      <a href="#contact" class=" w3-btn w3-black w3-block w3-border-black w3-leftbar w3-rightbar w3-topbar w3-bottombar w3-border-white w3-hover-border-red  w3-padding-16">Education & Professional Development</a>

      <a href="#contact" class="w3-btn w3-black w3-block w3-border-black w3-leftbar w3-rightbar w3-topbar w3-bottombar w3-border-white w3-hover-border-white  w3-padding-16">Contact</a>

    </div>

  </div>

  <div class="w3-half  w3-magenta w3-container w3-center" style="height:700px">

    <div class="w3-padding-64 w3-center">

      <h1>About Me</h1>

      <img src="/coffee.jpg" class="w3-margin w3-image" alt="Person" style="width:50%">

      <div class="w3-cente-align w3-padding-large">
        <p>Hi! How is life treating you?</p>
        <p>I am Tyrant. I am passionate about the Internet of Things and creatively developing computer applications for business and life solutions.</p>


      </div>

    </div>

  </div>

</div>



<!-- Sidebar https://www.w3schools.com/w3css/tryit.asp?filename=tryw3css_ref_sidebar_overlay--> <!-- Move to top see Script for Sidebar-->

<!-- <div class="w3-sidebar w3-bar-block w3-animate-left w3-overlay" style="display:none;z-index:5" id="mySidebar">

  <button class="w3-bar-item w3-button w3-large" onclick="w3_close()">Close &times;</button>

  <a class="w3-bar-item w3-button" href="#">Link 1</a>

  <a class="w3-bar-item w3-button" href="#">Link 2</a>

  <a class="w3-bar-item w3-button" href="#">Link 3</a>

</div> -->



<!-- Second Grid: Work & Resume -->

<div class="w3-row">

  <div class="w3-half w3-yellow w3-center w3-container" style="height:800px" id="work">

    <div class="w3-padding-64">

      <h2 class="w3-wide">Skills | Projects</h2>

     <span><b>Strong</b> Skills: <b>Ruby, Ruby on Rails, Javascript, Git & Github,</b> HTML, CSS, Angular, JQuery, React, Node.JS, W3.CSS, jQuery, Angular, Bootstrap, SASS, RSpec, TDD, RDBMS Desgin, RESTful API Design, Engineering Principles, Affinity Designer

      <b>Future Skills:</b> Python, Typescript, ReactVR</span>

    </div>
    {% for project in site.portfolio limit:4 %}
    <div class="w3-row">
      <div class="w3-yellow project-thumb">
        <a href="{{ project.url | prepend: site.baseurl }}">
          <img src="{{ project.thumbnail-path }}" alt="{{ project.title }}" style="width:100%; height:140px">
        </a>
      </div>
      <div class="project-description">
        <a href="{{ project.url | prepend: site.baseurl }}"><strong>{{ project.title }}</strong></a>
        <p>{{ project.short-description}}</p>
        <p class="meta">
  {{ post.date | date: "%B %-d, %Y" }}
</p>
      </div>
    </div>
    {% endfor %}
  </div>

  <div class="w3-half w3-cyan w3-container" style="height:800px">

    <div class="w3-padding-64 w3-center w3-text-night">

      <h2 class="w3-wide">Resume</h2>

      <!-- <p>A draft from my CV</p> -->

      <div class="w3-container w3-responsive">

        <table class="w3-table">

          <tr>

            <th>Year</th>

            <th>Title</th>

            <th>Company</th>

          </tr>

          <tr class="w3-white">

            <td>2016-Present</td>

            <td>Operations Manager</td>

            <td>Gadget RM</td>

          </tr>

          <tr>

            <td>2012-2015</td>

            <td>Health / Insurance Manager</td>

            <td>Hewlett-Packard</td>

          </tr>

          <tr class="w3-white">

            <td>2010-2012</td>

            <td>Client Solutions Center Manager</td>

            <td>Hewlett-Packard</td>

          </tr>
        </table>

        <hr>

          <span class="w3-wide"><b>Education</b></span>
          <p><b>bloc.io</b> - Software Architecture Immersive - 2016 - Present</p>
          <p><b>University of South Florida</b> – Political Science | Cum Laude</p>
          <span class="w3-wide"><b>Professional Development</b></span>
          <p>Project Management Certificate UW Madison  ·  Doing Business with U.S. Public
            Sector Customers  ·  HIPAA  ·  Client Relations  ·  Quality Assurance  ·  Business of
            Healthcare Payers  ·  Inside Healthcare Payers & Plans  ·  Inside Healthcare Providers  ·
            SAP Administrator</p>
          <span class="w3-wide"><b>Personal</b></span>
          <p>Music Production	 ·  Strength Training	 ·  Snorkeling	 ·  Travel</p>
      </div>

    </div>

  </div>

</div>



<!-- Third Grid: Education & Prof. Development -->

<div class="w3-row" id="contact">

  <div class="w3-half w3-black w3-text-white w3-container w3-center" style="height:700px">

    <div class="w3-padding-64">

      <h1 class="w3-wide">My Posts</h1>
      {% for project in site.posts limit:3 %}
          <div class="project w3-row">
            <div class="project-thumb">
              <a href="{{ project.url | prepend: site.baseurl }}">
                <img src="{{ project.thumbnail-path }}" alt="{{ project.title }}" style="width:100% ; height:150px"/>
              </a>
            </div>
            <div class="project-description">
              <a href="{{ project.url | prepend: site.baseurl }}"><strong>{{ project.title }}</strong></a>
              <p>{{ project.short-description }}</p>
            </div>
          </div>
          {% endfor %}

    </div>

    <!-- <div class="w3-padding-64">

      <p>..for a cup of coffee, or whatever.</p>

      <p>Chicago, US</p>

      <p>+00 1515151515</p>

      <p>test@test.com</p>

    </div> -->

  </div>

  <div class="w3-half w3-white w3-container w3-text-black" style="height:700px">

    <div class="w3-padding-64 w3-padding-large">

      <h1 class="w3-wide">Contact</h1>

      <p class="w3-opacity w3-wide">holla @ <span class="w3-text-red">.</span><span class="w3-text-cyan">me</span>!</p>

      <form class="w3-container w3-card w3-padding-32 w3-black" action="https://getsimpleform.com/messages?form_api_token=fe0494b3f6727a6047675242916e447 " target="_blank">

        <div class="w3-section  w3-text-white">

          <label class="w3-wide">Name</label>

          <input class="w3-input" style="width:100%;" type="text" required name="Name">

        </div>

        <div class="w3-section  w3-text-white">

          <label class="w3-wide">Email</label>

          <input class="w3-input" style="width:100%;" type="text" required name="Email">

        </div>

        <div class="w3-section  w3-text-white">

          <label class="w3-wide">Message</label>

          <input class="w3-input" style="width:100%;" type="text" required name="Message">

        </div>

        <button type="submit" class="w3-button w3-black w3-hover-yellow w3-right ">Send</button>

      </form>
      <p class="w3-text-night w3-wide">Thanks for dropping by!</p>
    </div>

  </div>

</div>



<!-- Footer -->

<!-- <footer class="w3-container w3-padding-16 w3-cyan">

  <p class="w3-center w3-text-white">Brought To You By: <b class="w3-text-black">The Night Life</b></p>

</footer> -->

{% include footer.html %}

<!-- Script for Sidebar -->

<!-- <script>

function w3_open() {

    document.getElementById("mySidebar").style.display = "block";

    document.getElementById("myOverlay").style.display = "block";

}

function w3_close() {

    document.getElementById("mySidebar").style.display = "none";

    document.getElementById("myOverlay").style.display = "none";

}

</script> -->

</body>

</html>
