
.bold {font-weight: bold;}

.wide { letter-spacing: 3px;}

.a.one:link { text-decoration: none !important;}

.grey {
  font-size: 21px;
  color: grey;
}

#btmpadding { padding-bottom: 18px; }

.gold {
  color: #ffbf00;
  font-size: 24px;
}

span.center {
  display: block;
  text-align: center;
}

.special-text {
  font-size: 36px;
  font-style: oblique;
  font-weight: bold;
}

.field-text {
  color: grey;
  opacity: 30%;
}

.author {
  color: grey;
}

body {
  line-height: 1.5;
}
